<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CubicMeasurement.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>154C0FEC2638FF0B007F063A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154C10022638FF0D007F063A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154C100D2638FF0D007F063A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
